<section class="phx-hero">
  <h3>Download our extension to accept this session:</h3>
  <p><%= @url %> </p>
</section>

<section class="row">
  <article class="column">
    <h2>FAQs</h2>
  </article>
  <article class="column">
    <h2>Download</h2>
  </article>
</section>
