<section class="phx-hero">
  <h3>Invalid or Expired Code</h3>
</section>

<section class="row">
  <article class="column">
    <h2>FAQs</h2>
  </article>
  <article class="column">
    <h2>Download</h2>
  </article>
</section>
